<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            padding: 10px 20px;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .nav-links {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
        }

        .nav-links li {
            margin-right: 20px;
        }

        .nav-links li:last-child {
            margin-right: 0;
        }

        .nav-links a {
            text-decoration: none;
            color: #fff;
        }

        .nav-links a:hover {
            color: orange;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="logo">Logo</div>

        <ul class="nav-links">
            <li><a href="/signup">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <!-- <li><a href="/logout">LogOut</a></li> -->
            <form action="/logout" method="post">
                <button type="submit">Log Out</button>
            </form>

        </ul>

    </nav>
</body>

</html>